
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

#output {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.form {
    display: none;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f4f6;
}

header {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}



h2 {
    color: #4CAF50;
}

section {
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
    padding: 1rem;
    background-color: rgb(230, 216, 216);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label, input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
